@inject IHttpContextAccessor ContextAccessor
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
            <img style="width:100px;height:80px;" src="https://png.pngtree.com/png-vector/20221123/ourmid/pngtree-book-now-shape-png-image_6464250.png" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Concerts" asp-action="Index">Concert</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Venues" asp-action="Index">Venue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Artists" asp-action="Index">Artist</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
           
           @* <partial name="_LoginPartial" />
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>  *@
             @if (ContextAccessor.HttpContext.Session.GetInt32("userId") != null)
            {
                @(ContextAccessor.HttpContext.Session.GetString("userName") + " ")
                <a asp-action="Logout" asp-controller="Account">Logout</a>
            } 
        </div>
    </div>
</nav>
